/*=============================================================================
  ヒーローイメージ
  モバイル版・デスクトップ版 共通の設定
=============================================================================*/
figure.hero {
  grid-column: 1 / -1;
  grid-row: catch / span 2;
}

figure.hero img {
  height: 547px;
  object-fit: cover;
}

/*=============================================================================
  デスクトップ版の設定
=============================================================================*/
@media (min-width: 768px) {
  figure.hero {
    grid-row: catch / span 1;
    margin-top: -20px;
  }
}
