/*=====================================================================
  俳句の紹介
=====================================================================*/

section {
  grid-row: haiku;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

section h2 {
  grid-column: 1 / -1;
}
