/*=====================================================================
  ヘッダー
=====================================================================*/

header  {
  grid-row: header;
  justify-self: center;
  align-self: center;
  font-size: 48px;clamp(48px, 12vw, 54px);
}
