/*=====================================================================
  ヒーローイメージ
=====================================================================*/

.hero {
  grid-column: 1 / -1;
  grid-row: catch / span 2;
}

.hero img {
  height: 547px;
  object-fit: cover;
}
